HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Compiled classes
target/
*.class

# Maven / Gradle wrapper
.mvn/
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Logs and temp files
*.log

### VS Code ###
.vscode/

### protect private data when committing to github ###
*.local.yaml
application-local.yaml
application-dev.yaml
application-prod.yaml
/.apt_generated_tests/
